<div class="thread_contaier">
    {% for thread in threads %}
        <ul class="thread">  
            <li>{{ thread.name }}</li>
            {{thread.topic.id}}
        </ul> 
    {% endfor %}
</div>
<div>
    <a href="{{ path('thread_new', {'id' : id})}}">Nowy</a>
</div>